{% extends "base_personal.html" %}

{% block title %}Your actor page{% endblock %}

{% block content %}
        <p>Hey {{ user_name }},</p>

        <p>{{ intro_text }}</p>

        <p>Here's how to set it up:</p>

        <p>1. {{ step_1 }}<br>
        2. {{ step_2 }}<br>
        3. {{ step_3 }}</p>

        <p><a href="{{ page_url or 'https://actorrise.com/signup' }}">{{ cta_text }}</a></p>

        {% if extra_text %}
        <p>{{ extra_text }}</p>
        {% endif %}

        <p>If you have any questions, just reply to this email.</p>

        <div class="sig">
            {{ sender_name }}<br>
            {{ sender_title }}
        </div>
{% endblock %}
